<div ng-controller="AuthController" layout-padding ng-cloak>

    <h1>
        List of {{listTypeV}}
    </h1>

    <div ng-repeat="item in listDataV">
        <h2>{{item.name}}</h2>
        <p>{{item.age}}</p>
    </div>

</div>