<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/aws-sample.css' />
    <script src='/javascripts/aws-sample-packages.js'></script>
    <script src='/javascripts/aws-sample.js'></script>
</head>

<body ng-app="aws-sample">
    <div ng-controller="MainController" layout-padding>
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>

        <md-button class="md-primary md-raised" ng-click="checkAuthRequest()" ng-if="!toggleAuthContainer"> Check API tokens</md-button>

        <md-button class="md-primary md-raised" ng-click="createBucket()"> create bucket</md-button>
        <div layout-gt-sm="row" ng-if="toggleAuthContainer">
            <div>
                <md-input-container>
                    <label>API KEY</label>
                    <input ng-model="amazon.apiKey" required>
                </md-input-container>
                <md-input-container>
                    <label>API TOKEN</label>
                    <input ng-model="amazon.apiToken" required>
                </md-input-container>
            </div>
            <md-button class="md-primary md-raised" ng-click="authentication()"> Auth</md-button>
        </div>
        <md-button class="md-primary md-raised" ng-click="createBucket()"> list buckets</md-button>


        <md-button class="md-primary md-raised" ng-click="createBucket()"> upload file</md-button>
        <md-button class="md-primary md-raised" ng-click="createBucket()"> list file</md-button>
    </div>
</body>

</html>