<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/aws-sample.css' />
    <script src='/javascripts/aws-sample-packages.js'></script>
    <script src='/javascripts/aws-sample.js'></script>
</head>

<body ng-app="aws-sample">
    <div ng-controller="MainController" layout-padding>
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>

        <div layout-gt-sm="row">
            <md-button class="md-primary md-raised" ng-click="gotoState('home')"> home</md-button>
            <md-button class="md-primary md-raised" ng-click="gotoState('auth')"> Authentication</md-button>
            <md-button class="md-primary md-raised" ng-click="gotoState('list-buckets')"> list buckets</md-button>
            <md-button class="md-primary md-raised" ng-click="gotoState()"> upload file</md-button>
            <md-button class="md-primary md-raised" ng-click="gotoState()"> list file</md-button>
        </div>
        <ui-view></ui-view>
    </div>
</body>

</html>